@model UESTicketsProject.Models.UsuarioDashboardModel
@{
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" style="color:seagreen">Bienvenido @Model.Usuario.Nombres</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" style="color:seagreen">
            <div class="panel-heading" style="color:seagreen">
                Lista de tickets: @Model.Estatus
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                        <thead>
                                            <tr role="row">
                                                <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 170px;background-color:seagreen;color:aliceblue">Titulo</th>
                                                <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 170px;background-color:seagreen;color:aliceblue">Fecha de reporte</th>
                                                <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 206px;background-color:seagreen;color:aliceblue">Prioridad</th>
                                                <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 189px;background-color:seagreen;color:aliceblue">Reportado por</th>
                                                <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 147px;background-color:seagreen;color:aliceblue">Departamento</th>
                                            </tr>
                                            @foreach (var t in Model.Tickets)
                                            {
                                                <tr>
                                                    <td>@t.Titulo</td>
                                                    <td>@t.FechaCreacion.ToShortDateString()</td>
                                                    <td>@t.Prioridad.Nombre</td>
                                                    <td>@t.Reporter.Nombres</td>
                                                    <td>@t.Reporter.Departamento.Nombre</td>
                                                </tr>
                                            }
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
</div>
